@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat|Playfair+Display');
@import "bulma/sass/utilities/initial-variables";

// Overrides
$family-sans-serif: 'Montserrat', sans-serif;
$family-serif: 'Playfair Display', serif;
$family-cursive: 'Great Vibes', cursive;
$turquoise: rgb(0,101,99);
$turquoise-light: rgb(59,156,144);
$maroon: rgb(98,7,49);
$maroon-light: rgb(181,58,102);
$yellow: rgb(205,163,73);
$yellow-light: rgb(226,198,117);

$grey: rgb(188,193,192);
$grey-light: rgb(232,234,233);
$grey-darker: rgb(37,43,42);
$grey-dark: rgb(90,96,96);

$text: $grey-darker;

@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables.sass";
@import "bulma/bulma";

a {
    color: $turquoise-light;
    font-weight: bold;
}

.title {
    font-family: $family-serif;

    &.headline {
        font-family: $family-cursive;
    }

    sup {
        font-size: 0.5em;
    }
}

.subtitle {
    font-family: $family-serif;
}

.tabs {
    font-size: 1.1rem;
    letter-spacing: 1px;

    &.is-primary {
        background-color: $primary;
        color: $white;

        a {
            color: $white;

            &:hover {
                color: $grey-dark;
                background-color: $white;
            }
        }
    }

    li {
        font-family: $family-serif;
    }
}

.footer {
    &.is-primary {
        background-color: $primary;
        color: $white;

        a {
            color: $yellow-light;
            font-weight: normal;

            &:hover {
                color: $yellow;
            }
        }
    }
}


.hero-body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 0% 50%;
}
@media screen and (max-width: 1100px) {
    .hero-body {
        background-position: 50% 50%;
    }
}
@media screen and (max-width: 750px) {
    .hero-body {
        background-position: 65% 50%;
    }
    .hero-body .title {
        margin-top: -4rem;
    }
}


.jump-to-top {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    right: 1rem;
    bottom: 0;
    width: 40px;
    height: 40px;
    z-index: 90;

    svg {
        fill: $grey-dark;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 6px;
        left: 5px;

        * {
            fill: $grey-dark;
        }
    }
}


.open-mobile-menu {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 40px;
    height: 40px;
    z-index: 90;

    svg {
        fill: $grey-dark;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 25px;
        height: 25px;

        * {
            fill: $grey-dark;
        }
    }
}


.mobile-menu {
    background-color: $grey-light;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    &.is-primary {
        background-color: $primary;
        color: $white;

        a {
            color: $white;

            &:hover {
                color: $grey-dark;
            }
        }
    }

    .mobile-menu-logo {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 7rem;
    }

    .close-mobile-menu {
        position: relative;
        width: 40px;
        height: 40px;
        margin-top: 1rem;
        margin-left: 1rem;

        svg {
            fill: $grey-dark;
            position: absolute;
            top: 8px;
            left: 8px;
            width: 25px;
            height: 25px;

            * {
                fill: $grey-dark;
            }
        }
    }
}


.section.is-grey {
    background-color: $grey-light;
}


.headline {
    @include from($desktop) {
        font-size: 9rem;
        line-height: 7rem;
    }

    @include until($desktop) {
        font-size: 7.5rem;
        line-height: 6rem;
    }

    @include until($tablet) {
        font-size: 5rem;
        line-height: 4rem;
    }

    &+.subtitle {
        @include from($desktop) {
            font-size: 2.5rem;
        }

        @include until($desktop){
            font-size: 2rem;
        }

        @include until($tablet) {
            font-size: 1.5rem;
        }
    }
}


.hero-logo {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 1rem;
    right: 1rem;
    z-index: 90;

    @include until($desktop) {
        width: 7rem;
        height: 7rem;
    }
}
