<div id="fh5co-team" data-section="faq">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>FAQ</h2>
  

<h3>Is it true the ceremony is standing room only?</h3>
    <p>There will be limited seating, but it will also be a short one (~15minutes).</p></br>

<h3>What should I wear?</h3>
    <p> <ul>The attire is black tie optional.</ul>
    This means:</p>
        <li>A long dress</li>
        <li>A formal cocktail-length dress</li>
        <li>A tuxedo or dressy suit</li></ul></p>
    Kate loves Rent the Runway for formal events, use code $discount for a discount on your rental!
    Need some ideas on formal, black tie optional? Check the <a href="http://www.cosmopolitan.com/uk/fashion/style/how-to/a35660/what-different-dress-codes-actually-mean-wedding-black-tie/">Cosmo guide for women</a> or the <a href="https://www.gq.com/story/what-to-wear-to-a-summer-wedding-dress-codes">GQ guide for men</a>.</p>

<h3>How do I get to Rochester?</h3>
    <h4>Flying</h4>
    <p>The hotel is a 15 minute drive from Rochester International Airport, which is served by all of the major airlines.</p>

    <p>If you choose to fly, you probably don't need to rent a car as Uber and Lyft are all over Rochester, with a ride from the airport to the ceremony location costing under $20. The ceremony & reception are all conveniently located at a hotel, where you can stay with a 10% discount if you call and give our names. Everything we’re looking at for after parties is walking distance from the venue, so even if you choose to take a cab it will be a short trip and we’ve set up an event code with Lyft to give you $10 off each ride during the weekend!</p>

    <h4>Driving</h4>
    If you're driving to Rochester, The Inn on Broadway has complimentary valet parking available during the entire weekend.

<h3>I can't make it, sorry!?</h3>
    <p>No worries! We realize life happens. Please let us know in advance.</p>
 
<h3>OTHER QUESTIONS?</h3>
    <p>Feel free to contact us via...
    Email:  me@brett.is ; kzasada@gmail.com
    Phone: +1 (860) 488 0854</p>



    </div>
  </div>
</div>
