
<div id="fh5co-team" data-section="intro">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>Our Story</h2>
      <p>Kate and Brett met while working together in New York City sometime in 2013. Credit goes to their mutual friends Susie (Brett’s PM) and Anthony (Kate’s designer) for convincing Brett to interview for a job and eventually join Kate & Anthony.</br>

<p>The rest was a rom-com worthy story of two people who everyone <i>else</i> knew would wind up together, but had to figure that out for themselves. A few months later, we finally realized what everyone else saw from the beginning-- now we invite you to celebrate our wedding!

    </div>
  </div>
</div>
