<div id="fh5co-services" data-section="registry">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>Registry</h2>
       The gift of your presence as we celebrate our marriage is truly all that we ask for! If you want to get us something to warm our home, we’ve collected a few things that ship directly to us from a variety of stores in our <a href="https://www.zola.com/wedding/bkny/registry">Zola registry</a>.</br>
If you want a gift shipped to you to bring to us, we have a few items in a <a href="https://www.macys.com/wgl/registry/guest/6738469">Macys registry</a>.
    </div>
  </div>
</div>
