<div id="fh5co-team" data-section="schedule">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>Ceremony & Reception</h2>
       <h3>Welcome Drinks</h3>
        Rohrbach Railroad Street Beer Hall  
        97 Railroad St, Rochester, NY 14609
        7-9pm

       <h3>Ceremony & Reception</h3>
        The Inn on Broadway
        29 Broadway, Rochester NY
        5pm
        Attire: Black Tie Optional
        Dinner and dancing to follow

       <h3>Accomodaions</h3>
        <h4><a href="http://www.innonbroadway.com">The Inn on Broadway</a></h4>
        We have a room block reserved with a 10% discount on the room rates. To reserve a room, call the Inn at 877.612.3595 and mention the Zasada-Langdon wedding.
        </br>
        <h4><a href="http://www.airbnb.com/c/kzasada">AirBnB</a></h4>
        There are many private accomodations available in Rochester through AirBnB which are reasonably priced and great for groups! We love the Park Aveneue area for the restaurants, East Avenue & Monroe Village are great as well. 
    </div>
  </div>
</div>
