<div id="fh5co-services" data-section="things-to-do">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>Things to do</h2>
       <h3><a href="http://www.geneseebeer.com/brewhouse/">Genesee Brewhouse</a></h3>
        <p>25 Cataract St.</br>
          Rochester, NY, 14605</p>
        <p>The Genesee Brewhouse is a historic beer packaging center that has been renovated to include a taproom, restaurant and rooftop bar! Go here to taste some local beers with a view of the Genesee River & High Falls.</p></br>

<h3><a href="https://eastman.org/">George Eastman House Museum</a></h3>
<p>900 East Ave</br>
Rochester, NY 14607</p>
<p>The George Eastman House is the former estate of Kodak founder George Eastman, whose historic grounds now house collections in the fields of photography, cinema, and photographic and cinematographic technology, and photographically illustrated books. The institution is also a longtime leader in film preservation and photographic conservation.</p>

    </div>
  </div>
</div>
